streamlit==0.80.0
pandas==1.0.5
numpy==1.18.5
plotly==5.5.0
plotly-express==0.4.0
xlrd==1.2.0
emoji ==1.7.0
DateTime == 4.4
DateTimeRange ==1.2.0
click<=8.0.4
streamlit_plotly_events==0.0.6
seaborn==0.11.2
emoji==1.7.0
matplotlib==3.5.1
numpy==1.20.3
pandas==1.2.4
Pillow==9.0.1
protobuf==3.19.4

